html,
body,
.container {
  height: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
a,
i,
p {
  font-family: "Roboto", sans-serif !important;
}

#carousel .overlay,
.btn-discover {
  color: white !important;
}

/* Buttons */
.btn-discover {
  background-color: #139fe6 !important;
  font-size: 20px !important;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px !important;
}

.btn-discover:hover {
  background-color: #2babeb !important;
  transition: 0.3s;
}

/* Navbar */

@media only screen and (max-width: 2000px) and (min-width: 1025px) {
  .navbar {
    height: 85px !important;
  }
}

.nav-link {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link:hover {
  color: rgb(79, 165, 235) !important;
  transition: 0.3s !important;
}

/*  Carousel  */

#main .carousel-inner img {
  max-height: 100%;
  object-fit: cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.22);
}

#carousel img {
  height: 80vh;
}

#ssvg {
  transform: rotate(45deg);
}

.overlay h1 {
  /* margin-top: 140px; */
  font-weight: 300 !important;
  font-size: 65px !important;
}

.overlay p {
  font-size: 20px;
}

.overlay h1,
.overlay p,
.btn-discover,
#ssvg {
  transition: 0.6s;
  transition-timing-function: ease-out;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .overlay h1 {
    font-size: 35px !important;
  }

  .overlay p {
    font-size: 15px !important;
  }

  .btn-discover {
    font-size: 18px !important;
  }
}
