html {
  overflow-x: hidden;
}

html,
body,
.container {
  height: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
a,
i,
p,
.About .card-body {
  font-family: "Roboto", sans-serif !important;
}

#carousel .overlay,
.btn-discover {
  color: white !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(164, 213, 253);
}

/* --------------------------------------------------------- */
/* Buttons */
/* --------------------------------------------------------- */
.btn-discover,
.btn-info {
  background-color: #139fe6 !important;
  font-size: 20px !important;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px !important;
}

@media only screen and (max-width: 340px){
  .btn-discover,
  .btn-info{
    width: 130px;
    height: 45px;
  }
}

.btn-discover:hover,
.btn-info:hover {
  background-color: #2babeb !important;
  transition: 0.3s;
}

.btn-minimal1 {
  background: #ffe8df !important;
}

.btn-minimal2 {
  background: #f0f0f0 !important;
}

.btn-minimal3 {
  background: #888888 !important;
  color: white !important;
}

.btn-minimal1,
.btn-minimal2,
.btn-minimal3 {
  font-weight: 600 !important;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 50px !important;
  border: none !important;
}

.btn-minimal1:hover,
.btn-minimal2:hover,
.btn-minimal3:hover {
  border: none !important;
}

.btn-minimal1:hover {
  background: #fad5c8 !important;
  transition: 0.3s;
}

.btn-minimal2:hover {
  background: #d6d6d6 !important;
  transition: 0.3s;
}

.btn-minimal3:hover {
  background: #646464 !important;
  transition: 0.3s;
}

.btn-info {
  width: 120px;
  font-size: 17px !important;
  height: 38px;
}

.btn-wha {
  background-color: #d43a42 !important;
  color: white !important;
  font-size: 18px !important;
  font-style: oblique;
  font-weight: 800 !important;
  height: 40px;
  width: 150px;
  border-radius: 10px !important;
}

.btn-wha:hover{
  background-color: #a32c32 !important;
}

@media only screen and (max-width: 768px){
  .btn-primary{
    width: 70% !important;
  }
}

/* --------------------------------------------------------- */
/* Navbar */
/* --------------------------------------------------------- */

@media only screen and (max-width: 2000px) and (min-width: 1025px) {

  .navbar {
    height: 85px !important;
  }

}

#logo {
  width: 220px;
  height: auto;
}

.nav-link {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link:hover {
  color: rgb(79, 165, 235) !important;
  transition: 0.3s !important;
}

@media only screen and (max-width: 340px){

  #logo{
    width: 200px;
  }

  .navbar-toggler-icon{
    width: 20px !important;
  }
}



/* --------------------------------------------------------- */
/*  Carousel  */
/* --------------------------------------------------------- */

#main .carousel-inner img {
  max-height: 100%;
  object-fit: cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#carousel img {
  height: 100vh;
}

#ssvg {
  transform: rotate(45deg);
}

@media only screen and (max-width: 340px){
  #ssvg{
    height: 100px !important;
  }
}

.overlay {
  position: relative;
}

.overlay h1 {
  /* margin-top: 140px; */
  font-weight: 300 !important;
  font-size: 65px !important;
}

.overlay p {
  font-size: 20px;
}

.overlay h1,
.overlay p,
.btn-discover,
#ssvg {
  transition: 0.6s;
  transition-timing-function: ease-out;
  opacity: 1;
}

@media only screen and (max-width: 1366px) and (orientation: landscape){
  #carousel img {
    height: 90vh;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
  #carousel img {
    height: 60vh;
  }
}

@media only screen and (max-width: 800px) {
  #carousel img {
    height: 80vh;
  }

  .overlay h1 {
    font-size: 33px !important;
  }

  .overlay p {
    font-size: 15px !important;
  }

  .btn-discover {
    font-size: 18px !important;
  }
}

/* --------------------------------------------------------- */
/*  Social Media  */
/* --------------------------------------------------------- */

.social--label{
  display: grid;
  grid-template-columns: repeat(1, 5px)
  grid-template-rows: repeat(8, 5px);
  grid-template-areas:  "text"
                        "text"
                        "text"
                        "text"
                        "text"
                        "text"
                        "text"
                        "text";
  position: fixed;
  width: 28px;
  height: 150px;
  margin: 0;
  top: 0;
  right: 0;
  margin-top: 140px;
  padding: 7px 5px 10px 11px;
  background-color: rgb(131, 131, 131);
  border-radius: 20px 0 0 20px;
  background: linear-gradient(90deg, #556f7c, #334550 25%, #0d95debb);
  opacity: 60%;
  z-index: 9998 !important;
  -webkit-transition: ease-in-out 0.7s;
  -moz-transition: ease-in-out 0.7s;
  -ms-transition: ease-in-out 0.7s;
  -o-transition: ease-in-out 0.7s;
}

@media only screen and (max-width: 800px) {
  .social--label{
    opacity: 40%;
  }
}

.social--label p{
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  height: 1px;
}

.social--media__link1 img,
.social--media__link2 img,
.social--media__link3 img,
.social--media__link4 img,
.social--media__link5 img{
  width: 30px;
  display: none;
}

.social--media__arrow img{
  width: 30px;
}

.social--media {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:  "social--media__arrow social--media__link1 social--media__link2 social--media__link3 social--media__link4 social--media__link5";
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  margin-top: 300px;
  padding: 7px 5px 15px 10px;
  background-color: rgb(131, 131, 131);
  border-radius: 20px 0 0 20px;
  background: linear-gradient(90deg, #556f7c, #334550 25%, #0d95debb);
  opacity: 60%;
  -webkit-transition: ease-in-out 0.7s;
  -moz-transition: ease-in-out 0.7s;
  -ms-transition: ease-in-out 0.7s;
  -o-transition: ease-in-out 0.7s;
  z-index: 9999 !important;
}

  @media only screen and (max-width: 800px) {
    .social--media{
      opacity: 40%;
    }
  }
    .social:hover .social--media{
      width: 450px;
      opacity: 100%;
    }

      @media only screen and (max-width: 800px) {
        .social:hover .social--media{
          width: 90vw;
        }
      }

        .social:hover .social--media__link1 img,
        .social:hover .social--media__link2 img,
        .social:hover .social--media__link3 img,
        .social:hover .social--media__link4 img,
        .social:hover .social--media__link5 img{
          display: block;
        }

/* --------------------------------------------------------- */
/* Valores - Values */
/* --------------------------------------------------------- */

.us1 {
  height: 220px;
  width: 100%;
  background: #f2f7f8;
  color: black;
  margin-top: -70px;
}

.values,
.vbox {
  height: 100%;
}

.container .values {
  height: 200px;
}

.values {
  display: flex;
  justify-content: center;
}

.values h4 {
  font-weight: 400 !important;
  font-size: 24px !important;
}

.vbox {
  background: #ffffff;
  padding: 40px 0 0px 0;
  border-right: 1px solid rgb(228, 226, 226);
}

@media only screen and (max-width: 800px) {
  .us1 {
    height: 100%;
    margin-top: -25px;
  }

  .vbox {
    width: 85vw !important;
    border-top: 1px solid rgb(156, 154, 154);
    border: 1px solid rgb(228, 226, 226);
  }

  .values,
  .vbox {
  height: 80%;
  }

}

@media only screen and (max-width: 768px) and (orientation: portrait) {

  .us1 .container{
    display: flex;
    justify-content: center;
  }

  .values,
  .vbox {
    height: 100%;
  }
 }

 @media only screen and (max-width: 500px) and (orientation: portrait) {

  .values,
  .vbox {
    height: 85%;
    width: 80vw;
  }

  .us1 img{
    height: 50px !important;
  }

  .values h4{
    font-size: 23px !important;
  }

 }

 @media only screen and (max-width: 400px) and (max-height: 700px) {

  .values,
  .vbox {
    /* height: 80%; */
    width: 80vw;
  }
}


@media only screen and (max-width: 400px) {
  .us1{
    margin-top: -40px;
    height: 100%;
  }

  .values,
  .vbox {
    height: 95%;
  }
}

@media only screen and (max-width: 380px) and (max-height: 700px){
  .values,
  .vbox {
    height: 85%;
  } 
}


@media only screen and (max-width: 360px){

  .us1 {
    margin-top: -10px;
  }

  .vbox img{
    height: 50px !important;
  }

  .values h4 {
    font-size: 18px !important;
  }

  .values,
  .vbox {
    height: 80%;
    width: 80vw;
  }

}

/* --------------------------------------------------------- */
/* About */
/* --------------------------------------------------------- */

.About {
  /* height: 70vh; */
  padding-top: 80px;
}

.About p {
  line-height: 30px;
}

#bg2 {
  width: 430px;
  height: auto;
}

.btn-minimal1,
.btn-minimal2,
.btn-minimal3 {
  margin-left: 100px;
  margin-top: 20px;
}

.About .card-body {
  line-height: 24px !important;
  font-style: italic;
  font-size: 16px;
  border: none !important;
}

@media only screen and (max-width: 800px) {
  .About {
    padding-top: 60px;
    text-align: center;
  }

  #bg2 {
    width: 310px;
    margin-top: 30px;
  }

  .btn-minimal1,
  .btn-minimal2,
  .btn-minimal3 {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media only screen and (max-height: 1024px) and (orientation: portrait){
  .us1{
    height: 65%;
  }
}

@media only screen and (max-width: 400px) {
  .us1{
    height: 68%;
  }

  .About{
    padding-top: 60px;
  }
}

@media only screen and (max-width: 375px){
  .About{
    padding-top: 60px;
  }
}

@media only screen and (max-width: 375px) and (max-height:700px){
  .About{
    padding-top: 105px;
  }
}

@media only screen and (max-width: 340px){
  .About{
    padding-top: 130px;
  }

  .About p {
    line-height: 18px;
  }

  #bg2{
    width: 260px;
  }
}

/* --------------------------------------------------------- */
/* Services */
/* --------------------------------------------------------- */

#services::before{
  margin-top: 200px;
}

#services{
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.Services {
  background: #f2f7f8;
  padding-bottom: 80px;
}

.card,
.card img {
  border-radius: 30px 30px 0 0 !important;
}


@media only screen and (max-width: 340px){
  .Services p{
    font-size: 16px !important;
  }

  .card{
    width: 80vw !important;
  }
}

/* --------------------------------------------------------- */
/* Sticky Banner */
/* --------------------------------------------------------- */

.banner {
  /* background-image: url("/images/bg2.jpg"); */
  height: 350px;
  position: static;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner--filter {
  /* background-color: #13a0e6a4 !important; */
  /* background-color: #0d95debb; */
  background-color: #1c9addde;
  width: 100%;
  height: 100%;
}

#mexico{
  transform: scale(0, 42px) !important;
  padding-top: 25px;
}

/* .banner h3 {
  font-size: 27px !important;
  font-weight: 399 !important;
  text-transform: uppercase;
} */

.banner h4 {
  font-size: 18px !important;
  font-weight: 300 !important;
  margin-top: 24px;
}

.banner .row {
  height: 100%;
  align-items: center;
}

@media only screen and (max-width: 768px) and (orientation: portrait){

  .banner--filter{
    padding: 20px 0;
  }

  .banner h4 {
    font-size: 20px !important;
  }

  #mexico{
    transform: scale(0, 42px) !important;
    padding-top: 0px;
  }

}

@media only screen and (max-width: 800px) {

  .banner{
    height: fit-content;
  }

  .banner h4{
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 340px){

  .banner h4{
    font-size: 14px !important;
  }
}

/* --------------------------------------------------------- */
/* Contacto */
/* --------------------------------------------------------- */

.Contact{
  padding-bottom: 50px;
}

.form-control{
  border-radius: 10px !important;
}

/* --------------------------------------------------------- */
/* Sticky2 Banner */
/* --------------------------------------------------------- */

.banner2 {
  /* background-image: url("/images/bg2.jpg"); */
  height: 170px;
  position: static;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner--filter2 {
  background-color: #000000a2;
  width: 100%;
  height: 100%;
}

.banner2 .row {
  height: 100%;
  align-items: center;
}

/* --------------------------------------------------------- */
/* Footer */
/* --------------------------------------------------------- */

#footer{
  
  padding: 50px 40px;
  /* height: 30vh; */
  background-color: black;
  color: white;
}

/* --------------------------------------------------------- */
/* Responsive Landscape */
/* --------------------------------------------------------- */

