html {
  overflow-x: hidden;
}

html,
body,
.container {
  height: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
a,
i,
p,
.About .card-body{
  font-family: "Roboto", sans-serif !important;
}

#carousel .overlay,
.btn-discover {
  color: white !important;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(164, 213, 253);
}

/* --------------------------------------------------------- */
/* Buttons */
/* --------------------------------------------------------- */
.btn-discover {
  background-color: #139fe6 !important;
  font-size: 20px !important;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px !important;
}

.btn-discover:hover {
  background-color: #2babeb !important;
  transition: 0.3s;
}

.btn-minimal1 {
  background: #ffe8df !important;
}

.btn-minimal2 {
  background: #f0f0f0 !important;
}

.btn-minimal3 {
  background: #888888 !important;
  color: white !important;
}

.btn-minimal1,
.btn-minimal2,
.btn-minimal3 {
  font-weight: 600 !important;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 50px !important;
  border: none !important
}

.btn-minimal1:hover,
.btn-minimal2:hover,
.btn-minimal3:hover {
  border: none !important;
}

.btn-minimal1:hover{
  background: #fad5c8 !important;
  transition: 0.3s;
}

.btn-minimal2:hover{
  background: #d6d6d6 !important;
  transition: 0.3s;
}

.btn-minimal3:hover{
  background: #646464 !important;
  transition: 0.3s;
}

/* --------------------------------------------------------- */
/* Navbar */
/* --------------------------------------------------------- */

@media only screen and (max-width: 2000px) and (min-width: 1025px) {
  .navbar {
    height: 85px !important;
  }
}

#logo {
  width: 220px;
  height: auto;
}

.nav-link {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link:hover {
  color: rgb(79, 165, 235) !important;
  transition: 0.3s !important;
}

/* --------------------------------------------------------- */
/*  Carousel  */
/* --------------------------------------------------------- */

#main .carousel-inner img {
  max-height: 100%;
  object-fit: cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#carousel img {
  height: 100vh;
}

#ssvg {
  transform: rotate(45deg);
}

.overlay {
  position: relative;
}

.overlay h1 {
  /* margin-top: 140px; */
  font-weight: 300 !important;
  font-size: 65px !important;
}

.overlay p {
  font-size: 20px;
}

.overlay h1,
.overlay p,
.btn-discover,
#ssvg {
  transition: 0.6s;
  transition-timing-function: ease-out;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  #carousel img {
    height: 80vh;
  }

  .overlay h1 {
    font-size: 35px !important;
  }

  .overlay p {
    font-size: 15px !important;
  }

  .btn-discover {
    font-size: 18px !important;
  }
}
/* --------------------------------------------------------- */
/* Valores - Values */
/* --------------------------------------------------------- */

.us1 {
  height: 220px;
  width: 100%;
  background: #f2f7f8;
  color: black;
  margin-top: -70px;
}

.values,
.vbox {
  height: 100%;
}

.container .values {
  height: 200px;
}

.values {
  display: flex;
  justify-content: center;
  z-index: 9999 !important;
}

.values h4 {
  font-weight: 400 !important;
  font-size: 24px !important;
}

.vbox {
  background: #ffffff;
  padding: 40px 0 0px 0;
  border-right: 1px solid rgb(228, 226, 226);
}

@media only screen and (max-width: 800px) {
  .us1 {
    height: 80vh;
  }

  .vbox {
    width: 85vw !important;
    border-top: 1px solid rgb(156, 154, 154);
  }
}
/* --------------------------------------------------------- */
/* About */
/* --------------------------------------------------------- */

.About {
  height: 70vh;
  padding-top: 80px;
}

.About p {
  line-height: 30px;
}

#bg2 {
  width: 430px;
  height: auto;
}

.btn-minimal1,
.btn-minimal2,
.btn-minimal3{
  margin-left: 100px;
  margin-top: 20px;
}

.About .card-body{
  line-height: 24px !important;
  font-style: italic;
  font-size: 16px;
  border: none !important;
}

@media only screen and (max-width: 800px) {
  .About {
    height: 100vh;
    padding-top: 70px;
    text-align: center;
  }

  #bg2 {
    width: 310px;
    margin-top: 30px;
  }
}

/* --------------------------------------------------------- */
/* Politics */
/* --------------------------------------------------------- */
